<div class="header-inner">
  <div class="brand-block">
    <a href="{{ '/' | relative_url }}" class="brand">{{ site.title }}</a>
    <div class="subtitle">{{ site.subtitle }}</div>
  </div>
  <nav class="nav">
      <a href="{{ '/portfolio/' | relative_url }}">Portfolio</a>
      <a href="{{ '/economic/' | relative_url }}">Economic Analysis</a>
      <a href="{{ '/consulting/' | relative_url }}">Consulting</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="{{ '/contact/' | relative_url }}">Contact</a>
      
  </nav>
</div>



